<div class="miracle-footer">
    <div class="miracle-footer-nav">
        <div class="miracle-footer-top">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">FAQ</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="miracle-footer-bottom">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
            <a href="#">LinkedIn</a>
        </div>
    </div>
    <div class="miracle-footer-logo">
        &copy; 2024 MIRCALE. All rights reserved.
    </div>
</div>

