
<div class="miracle-header">
    <div class="miracle-logo">
        MIRCALE
    </div>
    <div class="miracle-header-nav">
        <div class="miracle-top-bar">
            <a href="#">Help</a>
            <a href="#">Exchange & Returns</a>
            <a href="#">Order Tracker</a>
            <a href="#">SignUp / Login</a>
        </div>

        <div class="miracle-bottom-bar">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>
    </div>
   
